# SCPP: DEMO

In [1]:
import os
import shutil
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import util
import scpp

In [2]:
outdir = 'out/tmp/'
if os.path.exists(outdir):
    shutil.rmtree(outdir)
os.makedirs(outdir)

In [3]:
data = pd.read_csv('dat/scpp_trans_1.csv')
data = util.sample_events(data, 500)
data = util.encode_timestamp(data, 'date', 'D')
data

          date  trans_amount  date_id  item_id  user_id
0   2011-05-19           101        0        0     4067
1   2011-05-19            63        0        0     2675
2   2011-05-22            81        3        0      405
3   2011-06-01            48       13        0     3732
4   2011-06-03            77       15        0     5460
..         ...           ...      ...      ...      ...
495 2015-03-08            96     1389        0      415
496 2015-03-08            79     1389        0     2865
497 2015-03-12            65     1393        0     1205
498 2015-03-13            54     1394        0     1741
499 2015-03-14            35     1395        0     2865

[500 rows x 5 columns]

In [4]:
data.nunique()

date            425
trans_amount     91
date_id         425
item_id           1
user_id         483
dtype: int64

In [5]:
model = scpp.SCPP()
model.fit(data, gamma=1, beta=1, a=1, b=1, max_iter=2)
model.save('out/tmp/')

Item 1: 100%|██████████| 500/500 [00:03<00:00, 149.72it/s]
Item 1:   9%|▉         | 45/500 [00:00<00:01, 444.28it/s]

====================
 Iteration = 1
====================
 gamma = 0.7521876481431291
 beta  = 0.008198755872841891
 llh   = -10846.555348788854

Item 1: 100%|██████████| 500/500 [00:03<00:00, 166.00it/s]


====================
 Iteration = 2
====================
 gamma = 0.9709347837639739
 beta  = 0.017696507752957703
 llh   = -12301.84899708815